.search {
    margin: 50px 100px;
    background-color: #F5F5F5;
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
}

.search input {
    border: none;
    width: 250px;
    height: 40px;
    font-size: 14px ;
    background-color: #F5F5F5;
    color: #000;
    margin-right: 10px;
    margin-left: 10px;
}

.search input:focus {
    outline: none;
}

.search button {
    padding: 10px;
    font-size: 16px;
    background-color: #F5F5F5;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}