.sidebar {
    width: 200px;
    margin-top: 40px;
    padding: 20px;
    margin-left: 75px;
}

.sidebar li {
    font-weight: 100;
    list-style: none;
    padding: 8px 5px;
    cursor: pointer;
}

.sidebar li:hover{
    color: #676464;
}

.selected {
    background-color: #0b0b0b;
    color: #fff;
    border-radius: 5px;
}